@model DataLayer.PageGroup

@{
	ViewBag.Title = "افزودن";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<br />
		<br />
		<br />
		<h3>افزودن عنوان جدید</h3>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group" style="font-size:18px">
			@Html.LabelFor(model => model.GroupTitle, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.GroupTitle, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.GroupTitle, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10" style="font-size:12px;font-weight:bold">
				<input type="submit" value="ثبت" class="btn btn-success" />
			</div>
		</div>
	</div>
}

<div style="font-size:16px;float:left">
	@Html.ActionLink("بازگشت", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
