@model IEnumerable<DataLayer.Page>

@{
	ViewBag.Title = "Index";
}
<br />
<br />
<h2>اخبار درج شده </h2>

<p>
	<a class="btn btn-info" href="~/Admin/Pages/Create" style="color:black">افزودن خبر جدید</a>
</p>

<table class="table table-bordered" style="background-color:#F9F9F9;border:1px solid black">
	<tr style="border:1px solid black">
		<th style="border:1px solid black ;font-size:17px">
			@Html.DisplayNameFor(model => model.ImageName)
		</th>
		<th style="border:1px solid black ;font-size:17px">
			@Html.DisplayNameFor(model => model.pageGroup.GroupTitle)
		</th>
		<th style="border:1px solid black ;font-size:17px">
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th style="border:1px solid black ;font-size:17px">
			@Html.DisplayNameFor(model => model.Visit)
		</th>
		<th style="border:1px solid black ;font-size:17px">
			@Html.DisplayNameFor(model => model.ShowSlider)
		</th>
		<th style="border:1px solid black ;font-size:17px">
			@Html.DisplayNameFor(model => model.CreateDate)
		</th>
		<th style="border:1px solid black ;font-size:17px">
			دستورات
		</th>
	</tr>

	@foreach (var page in Model)
	{
		<tr>
			<td style="border:1px solid black ;font-size:17px">
				<img src="~/PageImages/@page.ImageName" class="thumbnail" style="max-width:120px" />
			</td>
			<td style="border:1px solid black ;font-size:17px">
				@Html.DisplayFor(modelpage => page.pageGroup.GroupTitle)
			</td>
			<td style="border:1px solid black ;font-size:17px">
				@Html.DisplayFor(modelpage => page.Title)
			</td>
			<td style="border:1px solid black ;font-size:17px">
				@Html.DisplayFor(modelpage => page.Visit)
			</td>
			<td style="border:1px solid black ;font-size:17px">
				@Html.DisplayFor(modelpage => page.ShowSlider)
			</td>
			<td style="border:1px solid black ;font-size:17px">
				@page.CreateDate.ToShamsi()
			</td>
			<td style="border:1px solid black ;font-size:17px">

				<a class="btn btn-info" href="~/Admin/Pages/Details/@page.PageID">
					<i class="glyphicon glyphicon-list"></i>
				</a>
				<a class="btn btn-warning" href="~/Admin/Pages/Edit/@page.PageID">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-danger" href="~/Admin/Pages/Delete/@page.PageID">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</td>
		</tr>
	}

</table>
